{
  "apiUrl": "https://api.stage.enspace.io",
  "inputFilePath": "input.xlsx",
  "inputUniqueKey": "id",
  "form_id": "5f9b1b3b9c6b4e0001c3b2b0",
  "request_email": "exemplo@exemplo.com",
  "inputDateFormat": "dd/MM/yyyy"
}
